
body
{
    overflow-x: hidden;
    background-color: brown;
}

.extendfull, .extendleft, .axcelentsegment
{
    padding-left: 3000px;
    margin-left: -3000px;
}

.extendfull, .extendright, .axcelentsegment
{
    padding-right: 3000px;
    margin-right: -3000px;
}

.abouttext
{
    color: azure;
    text-align: left;
    width: 60%;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
}


#bodywrapper
{
    margin-top: 10%;
}

@media screen and (min-width: 1350px)
{

    .homevideo1, .homevideo2
    {
        width:560px;
        height:315px;
        position: relative;
        top: 35px;
    }

    .homevideo1div, .homevideo2div
    {
        background-color: darkred;
        width: 560px;
        position: relative;
        height: 395px;
        display: inline-block;
        text-align: center;
    }
    
    .homevideo1div
    {
        float: left;
        margin-left: 7%;
    }
    
    .homevideo2div
    {
        float: right;
        margin-right: 7%;
    }

    .homesegment
    {
        background-color: brown;
        height: 600px;
        position: relative;
        z-index: 4;
    }
}




@media screen and (min-width: 1000px)
{
    #wrapper
    {
        height: 100%;
        width: 100%;
        display: inline-block;
        margin: 0 auto;
        position: relative;
    }
    
    
    #menubar
    {
        background-color: darkred;
        margin-top: -10px;
        width: 100%;
        height: 15%;
        float: top;
        position: fixed;
        text-align: justify;
        z-index: 5;
        min-height: 100px;
        max-height: 100px;
        max-width: 1500px;
        min-width: 1000px;
    }
    
    .stretch
    {
        width: 100%;
        display: inline-block;
        font-size: 0;
        line-height: 0;
        margin-right: 10%;
    }
    
    .menubutton
    {
        display: inline-block;
        margin-top: 5%;
        vertical-align: top;
        *display: inline;
        zoom: 1;
        text-decoration: none;
        color: azure;
        bottom: 20px;
        position: relative;
        float: top;
        transform: translateY(0);
        transform: translateX(0);
    }
    
    .axcelentsegment
    {
        background-color: brown;
        height: 600px;
        position: relative;
        z-index: 4;
    }

    .axcelentcontent
    {
        display: inline-block;
        position: relative;
        top: 60px;
        float: right;
        width: calc(100% - 650px);
        padding-right: -1%;
        max-width: 60%;
        font-size: 20px;
        color: azure;
        overflow: hidden;
    }

    .axcelentvideo
    {
        top: 60px;
        margin-left: 5%;
        position: relative;
        width: 560px;
        height: 315px;
    }

    .axcelentunderline
    {
        background-color: darkorange;
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: 0;
        padding-left: 3000px;
        margin-left: -3000px;
    }

    .axcelenttitle
    {
        width: 100%;
        height: 15%;
        text-align: center;
        font-size: 40px;
        top: 20px;
        position: relative;
        color: azure;
    }

    .hometitle
    {
        top: 20px;
        margin: 0;
        color: azure;
        font-size: 40px;
        position: relative;
        text-align: center;
        display: inline-block;
    }
    
    #calender
    {
        border: 0;
        width: 100%;
        height: 1000px;
        background-color: brown;
    }
    
    #mobilemenustart
    {
        display: none;
    }
    
    #mobilemenu
    {
        display: none;
    }
    
    .mobilemenubutton
    {
        display: none;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1350px)
{
    .homesegment
    {
        background-color: brown;
        height: 600px;
        position: absolute;
        display: block;
        z-index: 4;
    }
    
    .homevideo1, .homevideo2
    {
        width:560px;
        height:315px;
        position: relative;
        top: 35px;
    }

    .homevideo1div, .homevideo2div
    {
        background-color: darkred;
        width: 560px;
        height: 395px;
        display: inline-block;
        text-align: center;
    }
    
    .homevideo1div
    {
        margin-left: 25%;
    }
    
    .homevideo2div
    {
        margin-left: 25%;
        margin-top: 70px;
    }
}

@media only screen and (min-width: 540px) and (max-width: 1000px) and (min-device-width: 780px)
{
    #wrapper
    {
        height: 100%;
        width: 100%;
        display: inline-block;
        margin: 0 auto;
        position: relative;
    }
    
    #menubar
    {
        background-color: darkred;
        margin-top: -10px;
        width: 100%;
        height: 15%;
        float: top;
        position: fixed;
        text-align: justify;
        z-index: 5;
        min-height: 100px;
        max-height: 100px;
        max-width: 1000px;
        min-width: 600px;
    }
    
    .stretch
    {
        width: 75%;
        display: inline-block;
        font-size: 0;
        line-height: 0;
        margin-right: 10%;
    }
    
    .menubutton
    {
        display: inline-block;
        margin-top: 7%;
        width: 10%;
        vertical-align: top;
        *display: inline;
        width: 8%;
        zoom: 1;
        text-decoration: none;
        color: azure;
        bottom: 20px;
        position: relative;
        float: top;
        transform: translateY(0);
        transform: translateX(0);
    }
    
    .axcelentsegment
    {
        background-color: brown;
        height: 700px;
        position: relative;
        z-index: 4;
    }

    .axcelentcontent
    {
        display: block;
        position: relative;
        top: 4%;
        margin-top: 2%;
        width: 100%;
        margin-left: 1%;
        font-size: 20px;
        color: azure;
    }

    .axcelentvideo
    {
        display: block;
        top: 10px;
        margin-left: 1%;
        position: relative;
        width: 480px;
        height:270px;
    }

    .axcelentunderline
    {
        background-color: darkorange;
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: 0;
        padding-left: 3000px;
        margin-left: -3000px;
    }

    .axcelenttitle
    {
        width: 100%;
        height: 15%;
        font-size: 40px;
        top: 50px;
        margin-left: 1%;
        zoom: 0.75;
        position: relative;
        color: azure;
    }

    .homevideo1, .homevideo2
    {
        position: relative;
        top: 35px;
        width: 480px;
        height:270px;
    }

    .homevideo1div, .homevideo2div
    {
        background-color: darkred;
        width: 480px;
        position: relative;
        height: 320px;
        display: inline-block;
        margin-left: 12%;
        margin-top: 10%;
        text-align: center;
    }

    .hometitle
    {
        top: 20px;
        margin: 0;
        color: azure;
        font-size: 40px;
        position: relative;
        text-align: center;
        display: inline-block;
    }

    #calendar
    {
        border: 0;
        width: 100%;
        margin-top: 50px;
        position: absolute;
        height: 1000px;
        background-color: brown;
    }
    
    .homesegment
    {
        background-color: brown;
        height: 600px;
        position: relative;
        z-index: 4;
    }
    
    #mobilemenustart
    {
        display: none;
    }
    
    #mobilemenu
    {
        display: none;
    }
    
    .mobilemenubutton
    {
        display: none;
    }
}

@media only screen and (min-device-width: 540px) and (max-device-width: 780px)
{
    #bodywrapper
    {
        margin-top: 10%;
        width: 100%;
    }
    
    #wrapper
    {
        height: 100%;
        width: 400%;
        min-width: 500px;
        max-width: 800px;
        display: inline-block;
        margin: 0 auto;
        position: relative;
    }
    
    #menubar
    {
        background-color: darkred;
        margin-top: -10px;
        width: 100%;
        height: 15%;
        float: top;
        position: fixed;
        text-align: justify;
        z-index: 5;
        min-height: 100px;
        max-height: 100px;
        max-width: 1000px;
        min-width: 600px;
    }
    
    .stretch
    {
        width: 75%;
        display: inline-block;
        font-size: 0;
        line-height: 0;
        margin-right: 10%;
    }
    
    .menubutton
    {
        display: inline-block;
        margin-top: 7%;
        width: 10%;
        vertical-align: top;
        *display: inline;
        width: 8%;
        zoom: 1;
        text-decoration: none;
        color: azure;
        bottom: 20px;
        position: relative;
        float: top;
        transform: translateY(0);
        transform: translateX(0);
    }
    
    .axcelentsegment
    {
        background-color: brown;
        height: 520px;
        position: relative;
        z-index: 4;
    }

    .axcelentcontent
    {
        display: inline-block;
        position: relative;
        top: 4%;
        width: 300px;
        height: 380px;
        margin-top: 3%;
        margin-right: -2%;
        font-size: 20px;
        color: azure;
        float: right;
    }

    .axcelentvideo
    {
        display:inline-block;
        top: 30px;
        margin-left: 1%;
        position: relative;
        width: 480px;
        height:270px;
    }

    .axcelentunderline
    {
        background-color: darkorange;
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: 0;
        padding-left: 3000px;
        margin-left: -3000px;
    }

    .axcelenttitle
    {
        width: 100%;
        height: 15%;
        font-size: 40px;
        top: 40px;
        margin-left: 1%;
        zoom: 0.75;
        position: relative;
        color: azure;
        padding-top: 50px;
    }

    .homevideo1, .homevideo2
    {
        position: relative;
        top: 35px;
        width: 480px;
        height:270px;
    }

    .homevideo1div, .homevideo2div
    {
        background-color: darkred;
        width: 480px;
        position: relative;
        height: 320px;
        display: inline-block;
        margin-left: 12%;
        margin-top: 10%;
        text-align: center;
    }

    .hometitle
    {
        top: 20px;
        margin: 0;
        color: azure;
        font-size: 40px;
        position: relative;
        text-align: center;
        display: inline-block;
    }

    #calendar
    {
        border: 0;
        width: 100%;
        margin-top: 50px;
        position: absolute;
        height: 1000px;
        background-color: brown;
    }
    
    .homesegment
    {
        background-color: brown;
        height: 600px;
        position: relative;
        z-index: 4;
    }
    
    #mobilemenustart
    {
        display: none;
    }
    
    #mobilemenu
    {
        display: none;
    }
    
    .mobilemenubutton
    {
        display: none;
    }
    
    .abouttext
    {
        color: azure;
        text-align: left;
        width: 80%;
        margin-top: 200px;
        margin-left: 20%;
        margin-right: 20%;
        font-size: 30px;
    }
}

@media only screen and (min-device-width: 540px) and (max-device-width: 580px)
{
    #wrapper
    {
        height: 100%;
        width: 400%;
        min-width: 500px;
        max-width: 600px;
        display: inline-block;
        margin: 0 auto;
        position: relative;
    }
    
    .axcelentcontent
    {
        display: inline-block;
        position: relative;
        top: 4%;
        width: 180px;
        height: 500px;
        margin-right: -12%;
        font-size: 20px;
        color: azure;
        float: right;
    }
}

@media only screen and (max-width: 540px) and (min-device-width: 780px)
{
    #wrapper
    {
        height: 100%;
        width: 100%;
        display: inline-block;
        margin: 0 auto;
        position: relative;
    }
    
    body
    {
        overflow-x: hidden;
        background-color: brown;
    }
    
    #menubar
    {
        background-color: darkred;
        margin-top: -10px;
        width: 100%;
        height: 15%;
        float: top;
        position: fixed;
        text-align: justify;
        z-index: 5;
        min-height: 100px;
        max-height: 100px;
        max-width: 1500px;
        min-width: 1000px;
    }
    
    .stretch
    {
        width: 10%;
        display: inline-block;
        font-size: 0;
        line-height: 0;
        margin-right: 10%;
    }
    
    .menubutton
    {
        display: none;
    }
    
    #mobilemenustart
    {
        display: inline-block;
        width: 10%;
        vertical-align: top;
        *display: inline;
        width: 8%;
        zoom: 2;
        text-decoration: underline;
        color: azure;
        bottom: -20px;
        position: relative;
        float: top;
        transform: translateY(0);
        transform: translateX(0);
    }
    
    #mobilemenu
    {
        background-color: azure;
        width: 15%;
        margin-top: 5%;
        text-decoration: none;
        display: none;
    }
    
    a
    {
        text-decoration: none;
    }
    
    .mobilemenubutton
    {
        text-decoration: none;
        color: darkred;
        height: 30px;
        text-align: center;
        border-bottom: solid darkred;
    }
    
    #mobilehomebutton
    {
        border-top: solid darkred;
        height: 45px;
    }
    
    .mobiletext
    {
        
    }
    
    .axcelentsegment
    {
        background-color: brown;
        height: 600px;
        position: relative;
        z-index: 4;
    }

    .axcelentcontent
    {
        display: block;
        position: relative;
        top: 12%;
        margin-top: 2.5%;
        width: 100%;
        margin-left: 1%;
        font-size: 20px;
        color: azure;
    }

    .axcelentvideo
    {
        display: block;
        top: 80px;
        margin-left: 1%;
        position: relative;
        width: 320px;
        height:180px;
    }

    .axcelentunderline
    {
        background-color: darkorange;
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: 0;
        padding-left: 3000px;
        margin-left: -3000px;
    }

    .axcelenttitle
    {
        width: 100%;
        height: 15%;
        font-size: 40px;
        top: 50px;
        margin-left: 1%;
        position: relative;
        color: azure;
    }

    .homevideo1, .homevideo2
    {
        position: relative;
        top: 35px;
        width: 320px;
        height:180px;
    }

    .homevideo1div, .homevideo2div
    {
        background-color: darkred;
        width: 320px;
        position: relative;
        height: 240px;
        display: inline-block;
        margin-left: 10%;
        margin-top: 15%;
        text-align: center;
    }
    
    .homesegment
    {
        background-color: brown;
        height: 600px;
        position: relative;
        z-index: 4;
    }
    
    .hometitle
    {
        top: 20px;
        margin: 0;
        color: azure;
        font-size: 26px;
        position: relative;
        text-align: center;
        display: inline-block;
    }

    #calendar
    {
        border: 0;
        width: 100%;
        margin-top: 100px;
        height: 1000px;
        background-color: brown;
    }
}


@media only screen and (max-device-width: 540px)
{
    #wrapper
    {
        height: 100%;
        width: 100%;
        width: 1000px;
        display: inline-block;
        margin: 0 auto;
        position: relative;
    }
    
    body
    {
        overflow-x: hidden;
        background-color: brown;
    }
    
    #menubar
    {
        background-color: darkred;
        margin-top: -8px;
        width: 1000px;
        height: 100px;
        position: fixed;
        z-index: 5;
        max-width: 1500px;
        min-width: 1000px;
        zoom:2;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-transform: translateZ(0);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-overflow-scrolling: touch;
    }
    

    
    .menubutton
    {
        display: none;
    }
    
    #mobilemenustart
    {
        display: inline-block;
        width: 10%;
        vertical-align: top;
        *display: inline;
        zoom: 2;
        text-decoration: underline;
        color: azure;
        bottom: -20px;
        position: relative;
        float: top;
        transform: translateY(0);
        transform: translateX(0);
    }
    
    #mobilemenu
    {
        background-color: azure;
        width: 15%;
        margin-top: 5%;
        text-decoration: none;
        display: none;
        zoom: 1;
    }
    
    a
    {
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
    
    
    .mobilemenubutton
    {
        text-decoration: none;
        color: darkred;
        height: 5%;
        text-align: center;
        border-bottom: solid darkred;
        zoom: 2;
        padding: 1px 0;
        margin: 0;
    }
    
    #mobilehomebutton
    {
        border-top: solid darkred;
        height: 45px;
    }
    
    .mobiletext
    {

    }
    
    .axcelentsegment
    {
        background-color: brown;
        height: 1000px;
        position: relative;
        z-index: 4;
        zoom: 2;
    }

    .axcelentcontent
    {
        display: block;
        position: relative;
        top: 12%;
        margin-top: 2%;
        width: 100%;
        margin-left: 30%;
        font-size: 20px;
        color: azure;
        zoom: 1.4;
    }

    .axcelentvideo
    {
        display: block;
        top: 10%;
        margin-left: 30%;
        position: relative;
        width: 320px;
        height:180px;
        zoom: 1.5;
    }

    .axcelentunderline
    {
        background-color: darkorange;
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: 0;
        padding-left: 3000px;
        margin-left: -3000px;
        zoom: 2;
    }

    .axcelenttitle
    {
        width: 100%;
        height: 15%;
        font-size: 40px;
        top: 100px;
        margin-left: 30%;
        position: relative;
        color: azure;
    }

    .homevideo1, .homevideo2
    {
        position: relative;
        top: 35px;
        width: 320px;
        height:180px;
    }

    .homevideo1div, .homevideo2div
    {
        background-color: darkred;
        width: 320px;
        position: relative;
        height: 240px;
        display: inline-block;
        margin-left: 10%;
        margin-top: 15%;
        text-align: center;
    }
    
    .homesegment
    {
        background-color: brown;
        height: 600px;
        position: relative;
        z-index: 4;
        zoom: 2;
    }
    
    .hometitle
    {
        top: 20px;
        margin: 0;
        color: azure;
        font-size: 26px;
        position: relative;
        text-align: center;
        display: inline-block;
    }

    #calendar
    {
        border: 0;
        width: 100%;
        margin-top: 200px;
        height: 1000px;
        background-color: brown;
    }
    
    .abouttext
    {
        color: azure;
        text-align: left;
        width: 60%;
        margin-top: 200px;
        margin-left: 20%;
        margin-right: 20%;
        font-size: 30px;
    }
    
}

@media only screen and (min-device-width: 310px) and (max-device-width: 340px)
{
    .axcelentsegment
    {
        background-color: brown;
        height: 600px;
        position: relative;
        z-index: 4;
        zoom: 3;
    }

    .axcelentcontent
    {
        display: block;
        position: relative;
        top: 12%;
        margin-top: 2%;
        width: 100%;
        margin-left: 10%;
        font-size: 20px;
        color: azure;
        zoom: 1.4;
    }

    .axcelentvideo
    {
        display: block;
        top: 10%;
        margin-left: 10%;
        position: relative;
        width: 320px;
        height:180px;
        zoom: 1.5;
    }

    .axcelentunderline
    {
        background-color: darkorange;
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: 0;
        padding-left: 3000px;
        margin-left: -3000px;
        zoom: 2;
    }

    .axcelenttitle
    {
        width: 100%;
        height: 15%;
        font-size: 26px;
        top: 50px;
        margin-left: 10%;
        position: relative;
        color: azure;
    }
}